<!--begin::Form-->
<div class="login-container">
  <div class="logo-container">
    <img src="./assets/media/logos/letras-small.png" alt="Logo" class="logo-image">
    <h1 class="school-name">CREATIVOS A</h1>
  </div>

  <div class="form-container">
    <h2 class="welcome-text">¡Bienvenido!</h2>
    <p class="login-subtitle">Ingresa tus credenciales para continuar</p>

    <form class="form w-100" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form"
      (ngSubmit)="submit()">

      <!-- begin::Alert error-->
      <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
          <div class="alert-text font-weight-bold">
            {{ errorMessage }}
          </div>
        </div>
      </ng-container>
      <!-- end::Alert error-->

      <!--begin::Form group-->
      <div class="fv-row mb-8 input-group">
        <div class="input-icon">
          <i class="fas fa-user"></i>
        </div>
        <div class="input-field">
          <label class="form-label fs-6 fw-bolder text-gray-900">Usuario</label>
          <input class="form-control bg-transparent" type="text" name="username" formControlName="username" autocomplete="off"
            [ngClass]="{
              'is-invalid': loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched),
              'is-valid': loginForm.controls['username'].valid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)
            }" />
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'El nombre de usuario es requerido',
              control: loginForm.controls['username']
            }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'minLength',
              message: 'El nombre de usuario debe tener al menos 3 caracteres',
              control: loginForm.controls['username']
            }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message: 'El nombre de usuario debe tener máximo 100 caracteres',
              control: loginForm.controls['username']
            }"></ng-container>
        </div>
      </div>
      <!--end::Form group-->

      <!--begin::Form group-->
      <div class="fv-row mb-8 input-group">
        <div class="input-icon">
          <i class="fas fa-lock"></i>
        </div>
        <div class="input-field">
          <label class="form-label fw-bolder text-gray-900 fs-6 mb-0">Contraseña</label>
          <input class="form-control bg-transparent" type="password" name="password" autocomplete="off"
            formControlName="password" [ngClass]="{
              'is-invalid': loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched),
              'is-valid': loginForm.controls['password'].valid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)
            }" />
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'La contraseña es requerida',
              control: loginForm.controls['password']
            }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'minlength',
              message: 'La contraseña debe tener al menos 3 caracteres',
              control: loginForm.controls['password']
            }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'maxLength',
              message: 'La contraseña debe tener máximo 100 caracteres',
              control: loginForm.controls['password']
            }"></ng-container>
        </div>
      </div>
      <!--end::Form group-->

      <!--begin::Wrapper-->
      <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
        <div></div>

        <!--begin::Link-->
        <!-- <a routerLink="/auth/forgot-password" class="link-primary">
          ¿Olvidaste tu contraseña?
        </a> -->
        <!--end::Link-->
      </div>
      <!--end::Wrapper-->

      <!--begin::Action-->
      <div class="d-grid mb-10">
        <button type="submit" id="kt_sign_in_submit" class="btn login-button" [disabled]="loginForm.invalid">
          <ng-container *ngIf="isLoading$ | async">
            <span class="indicator-progress" [style.display]="'block'">
              Por favor espere...
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
          <ng-container *ngIf="(isLoading$ | async) === false">
            <div class="button-content">
              <span>Iniciar Sesión</span>
              <i class="fas fa-arrow-right"></i>
            </div>
          </ng-container>
        </button>
      </div>
      <!--end::Action-->
    </form>
  </div>

  <div class="decoration-element top-left"></div>
  <div class="decoration-element bottom-right"></div>
</div>
<!--end::Form-->

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
